body{
    padding: auto;
    margin: auto;
    
}
form {
    height:400px;
    width: 97%;
    padding: auto;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
   
 }

button{
    height: 60px;
    width: 230px;
    font-size: 20px;
    color: rgb(172, 77, 10);
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:peachpuff;
    border-radius: 8px;
    border-width: 10px;
    margin-top: 200px;
    border-color: rgb(118, 81, 69);
    cursor: pointer;

}

input {
    font-size: medium;
    color: rgb(172, 77, 10);
    width: 210px;
    height: 30px;
    margin-top: 200px;
    padding-top: 12px;
    padding-left: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:peachpuff;
    border-radius: 8px;
    border: 10px outset  rgb(118, 81, 69);;
    padding: 6px 12px;
    cursor:pointer; 
  }

  .download{
    height: 600px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
  }